<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改信科部员工')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-department-edit" th:object="${tokenXkstaffDepartment}">
            <input name="deptId" th:field="*{deptId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">extend10：</label>
                <div class="col-sm-8">
                    <input name="extend10" th:field="*{extend10}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">用户号：</label>
                <div class="col-sm-8">
                    <input name="userId" th:field="*{userId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">用户名：</label>
                <div class="col-sm-8">
                    <input name="userName" th:field="*{userName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">性别：</label>
                <div class="col-sm-8">
                    <input name="sex" th:field="*{sex}" class="form-control" type="text">
                    <!--<select name="sex" class="form-control m-b">
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>-->
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">用户类型：</label>
                <div class="col-sm-8">
                    <input name="userType" th:field="*{userType}" class="form-control" type="text">
                    <!--<select name="userType" class="form-control m-b">
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>-->
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">身份证号：</label>
                <div class="col-sm-8">
                    <input name="idCard" th:field="*{idCard}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">所属机构：</label>
                <div class="col-sm-8">
                    <input name="orgCode" th:field="*{orgCode}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">一级部门：</label>
                <div class="col-sm-8">
                    <input name="oneDeptOrg" th:field="*{oneDeptOrg}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">二级部门：</label>
                <div class="col-sm-8">
                    <input name="twoDeptOrg" th:field="*{twoDeptOrg}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">岗位代码：</label>
                <div class="col-sm-8">
                    <input name="positionCode" th:field="*{positionCode}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">拼音名称：</label>
                <div class="col-sm-8">
                    <input name="pinyinName" th:field="*{pinyinName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">任职资格：</label>
                <div class="col-sm-8">
                    <input name="qualification" th:field="*{qualification}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">逻辑删除机构标志：</label>
                <div class="col-sm-8">
                    <input name="dFlag" th:field="*{dFlag}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">维护人：</label>
                <div class="col-sm-8">
                    <input name="maintainOr" th:field="*{maintainOr}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">维护时间：</label>
                <div class="col-sm-8">
                    <input name="maintainDate" th:field="*{maintainDate}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">手机号码：</label>
                <div class="col-sm-8">
                    <input name="phone" th:field="*{phone}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">职务：</label>
                <div class="col-sm-8">
                    <input name="duty" th:field="*{duty}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">line_dept：</label>
                <div class="col-sm-8">
                    <input name="lineDept" th:field="*{lineDept}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">离退休标志：</label>
                <div class="col-sm-8">
                    <input name="rFlag" th:field="*{rFlag}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">人员状态：</label>
                <div class="col-sm-8">
                    <input name="extend1" th:field="*{extend1}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">政治面貌：</label>
                <div class="col-sm-8">
                    <input name="extend2" th:field="*{extend2}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">第一学历：</label>
                <div class="col-sm-8">
                    <input name="extend3" th:field="*{extend3}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">最高学历：</label>
                <div class="col-sm-8">
                    <input name="extend4" th:field="*{extend4}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">最高学位：</label>
                <div class="col-sm-8">
                    <input name="extend5" th:field="*{extend5}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">婚姻状况：</label>
                <div class="col-sm-8">
                    <input name="extend6" th:field="*{extend6}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">extend7：</label>
                <div class="col-sm-8">
                    <input name="extend7" th:field="*{extend7}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">extend8：</label>
                <div class="col-sm-8">
                    <input name="extend8" th:field="*{extend8}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">extend9：</label>
                <div class="col-sm-8">
                    <input name="extend9" th:field="*{extend9}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "forts/department";
        $("#form-department-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-department-edit').serialize());
            }
        }
    </script>
</body>
</html>