<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增令牌开启常用语')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-language-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">常用语内容：</label>
                <div class="col-sm-8">
                    <input name="content" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">事由类型：</label>
                <div class="col-sm-8">
                    <select name="incidentType" class="form-control m-b" th:with="type=${@dict.getType('token_openIncident')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">标记id：</label>
                <div class="col-sm-8">
                    <input name="signId" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "forts/language"
        $("#form-language-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-language-add').serialize());
            }
        }
    </script>
</body>
</html>