<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('审批流程列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <!--<li>
                                <p>负责人id：</p>
                                <input type="text" name="leaderId"/>
                            </li>
                            <li>
                                <p>负责人名称：</p>
                                <input type="text" name="leaderName"/>
                            </li>-->
                            <li>
                                <p>员工id：</p>
                                <input type="text" name="employeeId"/>
                            </li>
                            <li>
                                <p>员工姓名：</p>
                                <input type="text" name="employeeName"/>
                            </li>
                            <!--<li>
                                <p>审批内容：</p>
                                <input type="text" name="applyContent"/>
                            </li>-->
                            <li>
                                <p>流水号：</p>
                                <input type="text" name="seno"/>
                            </li>
                            <li>
                                <p>审批状态:</p>
                                <select name="approvalStatus" th:with="type=${@dict.getType('token_approval_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <!--<li>
                                <p>按钮类型 0-认领 1-转交 2-移除：</p>
                                <select name="buttonType" th:with="type=${@dict.getType('')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>转交id：</p>
                                <input type="text" name="transferId"/>
                            </li>
                            <li>
                                <p>转交人：</p>
                                <input type="text" name="transferName"/>
                            </li>-->
                            <!--<li>
                                <p>系统id：</p>
                                <input type="text" name="systemId"/>
                            </li>-->
                            <li>
                                <p>系统名称：</p>
                                <input type="text" name="systemName"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="detailedList:process:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="detailedList:process:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="detailedList:process:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="detailedList:process:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('detailedList:process:edit')}]];
        var removeFlag = [[${@permission.hasPermi('detailedList:process:remove')}]];
        var datas = [[${@dict.getType('token_approval_status')}]];
        var dataValue = [[${@dict.getType('token_detailedList_button')}]];
        var prefix = ctx + "detailedList/process";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "审批流程",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '主键',
                    visible: false
                },
                {
                    field : 'leaderId', 
                    title : '负责人id'
                },
                {
                    field : 'leaderName', 
                    title : '负责人名称'
                },
                {
                    field : 'employeeId', 
                    title : '员工id'
                },
                {
                    field : 'employeeName', 
                    title : '员工姓名'
                },
                {
                    field : 'applyContent', 
                    title : '审批内容'
                },
                {
                    field : 'seno', 
                    title : '流水号'
                },
                {
                    field : 'approvalStatus', 
                    title : '审批状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                },
                {
                    field : 'buttonType', 
                    title : '按钮类型 0-认领 1-转交 2-移除',
                    formatter: function (value,row,index) {
                        return $.table.selectDictLabel(dataValue,value);
                    }
                },
                {
                    field : 'transferId', 
                    title : '转交id'
                },
                {
                    field : 'transferName', 
                    title : '转交人'
                },
                {
                    field : 'systemId', 
                    title : '系统id'
                },
                {
                    field : 'systemName', 
                    title : '系统名称'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>