<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.forts.mapper.TokenApplyFormMapper">

    <resultMap type="TokenApplyForm" id="TokenApplyFormResult">
        <result property="applyStatus"    column="apply_status"    />
        <result property="ip"    column="ip"    />
        <result property="openDate"    column="open_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="addway"    column="addway"    />
        <result property="openIncident"    column="open_incident"    />
        <result property="openIncidentId"    column="open_incident_id"    />
        <result property="remark"    column="remark"    />
        <result property="applycount"    column="applycount"    />
        <result property="uniquenesscode"    column="uniquenesscode"    />
        <result property="seqno"    column="seqno"    />
        <result property="otherSystem"    column="other_system"    />
        <result property="approvalStatus"    column="approval_status"    />
        <result property="reserved1"    column="reserved1"    />
        <result property="reserved2"    column="reserved2"    />
        <result property="validDate"    column="valid_date"    />
        <result property="reserved3"    column="reserved3"    />
        <result property="openDistinct"    column="open_distinct"    />
        <result property="systemName"    column="system_name"    />
        <result property="applyEnvironment"    column="apply_environment"    />
        <result property="proposer"    column="proposer"    />
        <result property="applyDate"    column="apply_date"    />
        <result property="employeeId"    column="employee_id"    />
        <result property="tokenId"    column="token_id"    />
        <result property="openInstructions"    column="open_instructions"    />
        <result property="scienceChargeTeam"    column="science_charge_team"    />
    </resultMap>

    <resultMap type="TokenApplyFormDemo" id="TokenApplyFormResultDemo">
        <result property="systemName"    column="system_name"    />
        <result property="uniquenesscode"    column="uniquenesscode"    />
        <result property="proposer"    column="proposer"    />
        <result property="applyDate"    column="apply_date"    />
        <result property="employeeId"    column="employee_id"    />
        <result property="tokenId"    column="token_id"    />
        <result property="applycount"    column="applycount"    />
        <result property="remark"    column="remark"    />
        <result property="openIncidentId"    column="open_incident_id"    />
        <result property="openIncident"    column="open_incident"    />
        <result property="addway"    column="addway"    />
        <result property="endDate"    column="end_date"    />
        <result property="openDate"    column="open_date"    />
        <result property="applyStatus"    column="apply_status"    />
        <result property="validDate"    column="valid_date"    />
        <result property="openInstructions"    column="open_instructions"    />
        <result property="openDistinct"    column="open_distinct"    />
        <result property="applyEnvironment"    column="apply_environment"    />
    </resultMap>

    <sql id="selectTokenApplyFormVo">
        select apply_status,ip, open_date, end_date, addway, open_incident, open_incident_id,
        remark, applycount, uniquenesscode, seqno, other_system, approval_status, reserved1,
        reserved2, valid_date, reserved3, open_distinct, system_name, apply_environment,
        proposer, apply_date, employee_id, token_id, open_instructions from token_apply_form
    </sql>

    <select id="selectTokenApplyFormList" parameterType="TokenApplyForm" resultMap="TokenApplyFormResult">
        select distinct token_id,a.ip, open_date, end_date, addway, open_incident, open_incident_id,
        remark, applycount, uniquenesscode, seqno, other_system, approval_status, reserved1,
        reserved2, valid_date, reserved3, open_distinct, a.system_name, apply_environment,
        proposer, apply_date, employee_id, apply_status, open_instructions,science_charge_team
        from token_apply_form a
        left join token_xkstaff_department x
        on a.employee_id = '0'||x.user_id
        left join token_system_inventory s
        on x.two_dept_org = s.department_id
        <where>
            <if test="applyStatus != null  and applyStatus != ''"> and a.apply_status = #{applyStatus}</if>
            <if test="params.beginOpenDate != null and params.beginOpenDate != ''"><!-- 开始时间检索 -->
                and a.open_date &gt;= to_date(#{params.beginOpenDate},'yyyy-MM-dd HH24:mi:ss')
            </if>
            <if test="params.endOpenDate != null and params.endOpenDate != ''"><!-- 结束时间检索 -->
                and a.open_date &lt;= to_date(#{params.endOpenDate},'yyyy-MM-dd HH24:mi:ss')
            </if>

            <if test="params.beginEndDate != null and params.beginEndDate != ''"><!-- 开始时间检索 -->
                and a.end_date &gt;= to_date(#{params.beginEndDate},'yyyy-MM-dd HH24:mi:ss')
            </if>
            <if test="params.endEndDate != null and params.endEndDate != ''"><!-- 结束时间检索 -->
                and a.end_date &lt;= to_date(#{params.endEndDate},'yyyy-MM-dd HH24:mi:ss')
            </if>
            <if test="addway != null  and addway != ''"> and a.addway = #{addway}</if>
            <if test="openIncident != null  and openIncident != ''"> and a.open_incident = #{openIncident}</if>
            <if test="openIncidentId != null  and openIncidentId != ''"> and open_incident_id = #{openIncidentId}</if>
            <if test="applycount != null  and applycount != ''"> and applycount = #{applycount}</if>
            <if test="uniquenesscode != null  and uniquenesscode != ''"> and uniquenesscode = #{uniquenesscode}</if>
            <if test="seqno != null  and seqno != ''"> and seqno = #{seqno}</if>
            <if test="otherSystem != null  and otherSystem != ''"> and other_system = #{otherSystem}</if>
            <if test="approvalStatus != null  and approvalStatus != ''"> and approval_status = #{approvalStatus}</if>
            <if test="reserved1 != null  and reserved1 != ''"> and reserved1 = #{reserved1}</if>
            <if test="reserved2 != null  and reserved2 != ''"> and reserved2 = #{reserved2}</if>
            <if test="validDate != null  and validDate != ''"> and valid_date = #{validDate}</if>
            <if test="reserved3 != null  and reserved3 != ''"> and reserved3 = #{reserved3}</if>
            <if test="openDistinct != null  and openDistinct != ''"> and open_distinct = #{openDistinct}</if>
            <if test="systemName != null  and systemName != ''"> and system_name like concat(concat('%', #{systemName}), '%')</if>
            <if test="applyEnvironment != null  and applyEnvironment != ''"> and apply_environment = #{applyEnvironment}</if>
            <if test="proposer != null  and proposer != ''"> and a.proposer = #{proposer}</if>
            <if test="params.beginApplyDate != null and params.beginApplyDate != ''"><!-- 开始时间检索 -->
                and a.apply_date &gt;= to_date(#{params.beginApplyDate},'yyyy-MM-dd HH24:mi:ss')
            </if>
            <if test="params.endApplyDate != null and params.endApplyDate != ''"><!-- 结束时间检索 -->
                and a.apply_date &lt;= to_date(#{params.endApplyDate},'yyyy-MM-dd HH24:mi:ss')
            </if>
            <if test="employeeId != null  and employeeId != ''"> and a.employee_id = #{employeeId}</if>
            <if test="openInstructions != null  and openInstructions != ''"> and open_instructions = #{openInstructions}</if>
            <if test="params.scienceChargeTeam != null and params.scienceChargeTeam != ''">
                and science_charge_team like concat(concat('%', #{params.scienceChargeTeam}), '%')
            </if>
        </where>
        order by OPEN_DATE desc,END_DATE desc
    </select>

    <select id="selectTokenApplyFormById" parameterType="Long" resultMap="TokenApplyFormResult">
        <include refid="selectTokenApplyFormVo"/>
        where token_id = #{tokenId}
    </select>

    <insert id="insertTokenApplyForm" parameterType="TokenApplyForm">
        <selectKey keyProperty="tokenId" resultType="long" order="BEFORE">
            SELECT seq_token_apply_form.NEXTVAL as tokenId FROM DUAL
        </selectKey>
        insert into token_apply_form
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="applyStatus != null  and applyStatus != ''">apply_status,</if>
            <if test="openDate != null ">open_date,</if>
            <if test="endDate != null ">end_date,</if>
            <if test="addway != null  and addway != ''">addway,</if>
            <if test="openIncident != null  and openIncident != ''">open_incident,</if>
            <if test="openIncidentId != null  and openIncidentId != ''">open_incident_id,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="applycount != null  and applycount != ''">applycount,</if>
            <if test="uniquenesscode != null  and uniquenesscode != ''">uniquenesscode,</if>
            <if test="seqno != null  and seqno != ''">seqno,</if>
            <if test="otherSystem != null  and otherSystem != ''">other_system,</if>
            <if test="approvalStatus != null  and approvalStatus != ''">approval_status,</if>
            <if test="reserved1 != null  and reserved1 != ''">reserved1,</if>
            <if test="reserved2 != null  and reserved2 != ''">reserved2,</if>
            <if test="validDate != null  and validDate != ''">valid_date,</if>
            <if test="reserved3 != null  and reserved3 != ''">reserved3,</if>
            <if test="openDistinct != null  and openDistinct != ''">open_distinct,</if>
            <if test="systemName != null  and systemName != ''">system_name,</if>
            <if test="applyEnvironment != null  and applyEnvironment != ''">apply_environment,</if>
            <if test="proposer != null  and proposer != ''">proposer,</if>
            <if test="applyDate != null ">apply_date,</if>
            <if test="employeeId != null  and employeeId != ''">employee_id,</if>
            <if test="tokenId != null ">token_id,</if>
            <if test="openInstructions != null  and openInstructions != ''">open_instructions,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="applyStatus != null  and applyStatus != ''">#{applyStatus},</if>
            <if test="openDate != null ">#{openDate},</if>
            <if test="endDate != null ">#{endDate},</if>
            <if test="addway != null  and addway != ''">#{addway},</if>
            <if test="openIncident != null  and openIncident != ''">#{openIncident},</if>
            <if test="openIncidentId != null  and openIncidentId != ''">#{openIncidentId},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="applycount != null  and applycount != ''">#{applycount},</if>
            <if test="uniquenesscode != null  and uniquenesscode != ''">#{uniquenesscode},</if>
            <if test="seqno != null  and seqno != ''">#{seqno},</if>
            <if test="otherSystem != null  and otherSystem != ''">#{otherSystem},</if>
            <if test="approvalStatus != null  and approvalStatus != ''">#{approvalStatus},</if>
            <if test="reserved1 != null  and reserved1 != ''">#{reserved1},</if>
            <if test="reserved2 != null  and reserved2 != ''">#{reserved2},</if>
            <if test="validDate != null  and validDate != ''">#{validDate},</if>
            <if test="reserved3 != null  and reserved3 != ''">#{reserved3},</if>
            <if test="openDistinct != null  and openDistinct != ''">#{openDistinct},</if>
            <if test="systemName != null  and systemName != ''">#{systemName},</if>
            <if test="applyEnvironment != null  and applyEnvironment != ''">#{applyEnvironment},</if>
            <if test="proposer != null  and proposer != ''">#{proposer},</if>
            <if test="applyDate != null ">#{applyDate},</if>
            <if test="employeeId != null  and employeeId != ''">#{employeeId},</if>
            <if test="tokenId != null ">#{tokenId},</if>
            <if test="openInstructions != null  and openInstructions != ''">#{openInstructions},</if>
        </trim>
    </insert>

    <insert id="insertTokenApplyFormDemo" parameterType="TokenApplyFormDemo">
        <selectKey keyProperty="tokenId" resultType="long" order="BEFORE">
            SELECT seq_token_apply_form.NEXTVAL as tokenId FROM DUAL
        </selectKey>
        insert into token_apply_form
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="systemName != null  and systemName != ''">system_name,</if>
            <if test="ip != null  and ip != ''">ip,</if>
            <if test="uniquenesscode != null  and uniquenesscode != ''">uniquenesscode,</if>
            <if test="proposer != null  and proposer != ''">proposer,</if>
            <if test="applyDate != null ">apply_date,</if>
            <if test="employeeId != null  and employeeId != ''">employee_id,</if>
            <if test="tokenId != null ">token_id,</if>
            <if test="applycount != null  and applycount != ''">applycount,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="openIncidentId != null  and openIncidentId != ''">open_incident_id,</if>
            <if test="openIncident != null  and openIncident != ''">open_incident,</if>
            <if test="addway != null  and addway != ''">addway,</if>
            <if test="endDate != null ">end_date,</if>
            <if test="openDate != null ">open_date,</if>
            <if test="applyStatus != null  and applyStatus != ''">apply_status,</if>
            <if test="validDate != null  and validDate != ''">valid_date,</if>
            <if test="openInstructions != null  and openInstructions != ''">open_instructions,</if>
            <if test="openDistinct != null  and openDistinct != ''">open_distinct,</if>
            <if test="applyEnvironment != null  and applyEnvironment != ''">apply_environment,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="systemName != null  and systemName != ''">#{systemName},</if>
            <if test="uniquenesscode != null  and uniquenesscode != ''">#{uniquenesscode},</if>
            <if test="proposer != null  and proposer != ''">#{proposer},</if>
            <if test="applyDate != null ">to_date(#{applyDate},'yyyy-MM-dd HH24:mi:ss'),</if>
            <if test="employeeId != null  and employeeId != ''">#{employeeId},</if>
            <if test="tokenId != null ">#{tokenId},</if>
            <if test="applycount != null  and applycount != ''">#{applycount},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="openIncidentId != null  and openIncidentId != ''">#{openIncidentId},</if>
            <if test="openIncident != null  and openIncident != ''">#{openIncident},</if>
            <if test="addway != null  and addway != ''">#{addway},</if>
            <if test="endDate != null ">to_date(#{endDate},'yyyy-MM-dd HH24:mi:ss'),</if>
            <if test="openDate != null ">to_date(#{openDate},'yyyy-MM-dd HH24:mi:ss'),</if>
            <if test="applyStatus != null  and applyStatus != ''">#{applyStatus},</if>
            <if test="validDate != null  and validDate != ''">#{validDate},</if>
            <if test="openInstructions != null  and openInstructions != ''">#{openInstructions},</if>
            <if test="openDistinct != null  and openDistinct != ''">#{openDistinct},</if>
            <if test="applyEnvironment != null  and applyEnvironment != ''">#{applyEnvironment},</if>
        </trim>
    </insert>

    <update id="updateTokenApplyForm" parameterType="TokenApplyForm">
        update token_apply_form
        <trim prefix="SET" suffixOverrides=",">
            <if test="applyStatus != null  and applyStatus != ''">apply_status = #{applyStatus},</if>
            <if test="ip != null  and ip != ''">ip = #{ip},</if>
            <if test="openDate != null ">open_date = #{openDate},</if>
            <if test="endDate != null ">end_date = #{endDate},</if>
            <if test="addway != null  and addway != ''">addway = #{addway},</if>
            <if test="openIncident != null  and openIncident != ''">open_incident = #{openIncident},</if>
            <if test="openIncidentId != null  and openIncidentId != ''">open_incident_id = #{openIncidentId},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="applycount != null  and applycount != ''">applycount = #{applycount},</if>
            <if test="uniquenesscode != null  and uniquenesscode != ''">uniquenesscode = #{uniquenesscode},</if>
            <if test="seqno != null  and seqno != ''">seqno = #{seqno},</if>
            <if test="otherSystem != null  and otherSystem != ''">other_system = #{otherSystem},</if>
            <if test="approvalStatus != null  and approvalStatus != ''">approval_status = #{approvalStatus},</if>
            <if test="reserved1 != null  and reserved1 != ''">reserved1 = #{reserved1},</if>
            <if test="reserved2 != null  and reserved2 != ''">reserved2 = #{reserved2},</if>
            <if test="validDate != null  and validDate != ''">valid_date = #{validDate},</if>
            <if test="reserved3 != null  and reserved3 != ''">reserved3 = #{reserved3},</if>
            <if test="openDistinct != null  and openDistinct != ''">open_distinct = #{openDistinct},</if>
            <if test="systemName != null  and systemName != ''">system_name = #{systemName},</if>
            <if test="applyEnvironment != null  and applyEnvironment != ''">apply_environment = #{applyEnvironment},</if>
            <if test="proposer != null  and proposer != ''">proposer = #{proposer},</if>
            <if test="applyDate != null ">apply_date = #{applyDate},</if>
            <if test="employeeId != null  and employeeId != ''">employee_id = #{employeeId},</if>
            <if test="openInstructions != null  and openInstructions != ''">open_instructions = #{openInstructions},</if>
        </trim>
        where token_id = #{tokenId}
    </update>

    <delete id="deleteTokenApplyFormById" parameterType="Long">
        delete from token_apply_form where token_id = #{tokenId}
    </delete>

    <delete id="deleteTokenApplyFormByIds" parameterType="String">
        delete from token_apply_form where token_id in
        <foreach item="tokenId" collection="array" open="(" separator="," close=")">
            #{tokenId}
        </foreach>
    </delete>

</mapper>