<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增变更时点验证')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-verify-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">订单流水号：</label>
                <div class="col-sm-8">
                    <input name="orderNum" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">变更时间：</label>
                <div class="col-sm-8">
                    <input name="changeTime" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否停机：</label>
                <div class="col-sm-8">
                    <input name="isHalt" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">停机影响范围：</label>
                <div class="col-sm-8">
                    <input name="haltRange" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">停机时间：</label>
                <div class="col-sm-8">
                    <input name="haltTime" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">验证时间：</label>
                <div class="col-sm-8">
                    <input name="verifyDate" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">验证方案：</label>
                <div class="col-sm-8">
                    <input name="verifyScheme" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">信息科技部：</label>
                <div class="col-sm-8">
                    <input name="inforMost" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">变更发起部门：</label>
                <div class="col-sm-8">
                    <input name="urgencySendDept" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">验证状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="verifyStatus" value="">
                        <label th:for="verifyStatus" th:text="未知"></label>
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">停机开始 时间：</label>
                <div class="col-sm-8">
                    <input name="startTime" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">停机结束时间：</label>
                <div class="col-sm-8">
                    <input name="endTime" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "urgencyAlterat/verify"
        $("#form-verify-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-verify-add').serialize());
            }
        }
    </script>
</body>
</html>